@(app: App, permissions: List[Permission], sentences: List[Sentence], categories: List[Category])

@header("App: " + app.getName())

    <div class="container">
        App: @app.getName()  <a href="/app/?id=@app.getId()&op=edit">edit</a> <a href="/app/?id=@app.getId()&op=permission">mark permission</a><br><br>

        Description:<br>
        @app.getDescription();
        <br><br>


        Category: <br>
        <table class="table table-striped table-bordered">
            @for(category<- categories) {
            <tr>
                <td>@category.getId()</td>
                <td><a href="/category/?id=@category.getId()">@category.getName()</a></td>
            </tr>
            }
        </table>

        <br><br>

        Sentences:<br>
        <table class="table table-striped table-bordered">
            @for(sentence <- sentences) {
                <tr>
                    <td>
                    @sentence.getContent()
                    </td>
                </tr>
            }
        </table>

        Processed Sentence: <br>
        <table class="table table-striped table-bordered">
            @for(sentence <- sentences) {
                @for(processedsentence <- sentence.getProcessedSentences()) {
                    <tr>
                        <td>
                            @processedsentence.getContent()
                        </td>
                    </tr>
                }
            }
        </table>

        <br><br>

        Permission: <br>
        <table class="table table-striped table-bordered">
            <th>Id</th><th>Permission Name</th>
            @for(permission <- permissions) {
            <tr>
                <td>
                    @permission.getId()
                </td>
                <td>
                    <a href="/permission/@permission.getId()">@permission.getName()</a>
                </td>
            </tr>
            }
        </table>
    </div>

@footer()