@(app: App, permissions: List[Permission], sentences: List[Sentence], categories: List[Category])

@header("App: " + app.getName())

<div class="container">
    This is edit mode. <br><br>

    App: @app.getName() <a href="/app/?id=@app.getId()">view</a><br><br>

    Description:<br>
    @app.getDescription();
    <br><br>

    Sentences:<br>
    <form class="form-horizontal" role="form" id="sentenceform" action="@routes.AppController.processSentenceSubmit()" method="post">
        @for(sentence <- sentences) {
            @sentence.getContent()<br>
            <table>
                <input type="hidden" name="@sentence.getId()_num" value="@sentence.getProcessedSentences.size()" />
                @if(sentence.getProcessedSentences.size() < 3) {
                    @for(processedsentence <- sentence.getProcessedSentences()) {
                        <tr>
                            <td><input type="text" class="form-control" id="@sentence.getId()_@processedsentence.getId()" name="@sentence.getId()_@processedsentence.getId()" value="@processedsentence.getContent()"/></td>
                        </tr>
                    }
                    @for(x <- 1 to (3-sentence.getProcessedSentences().size())) {
                        <tr>
                            <td><input type="text" class="form-control" size="150" id="@sentence.getId()_@x" name="@sentence.getId()_@x"/></td>
                        </tr>
                    }
                }
            </table>
        }
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>




    Category: <br>
    <table class="table table-striped table-bordered">
        @for(category<- categories) {
        <tr>
            <td>@category.getId()</td>
            <td><a href="/category/?id=@category.getId()">@category.getName()</a></td>
        </tr>
        }
    </table>

    <br><br>

    Permission: <br>
    <table class="table table-striped table-bordered">
        <th>Id</th><th>Permission Name</th>
        @for(permission <- permissions) {
        <tr>
            <td>
                @permission.getId()
            </td>
            <td>
                <a href="/permission/@permission.getId()">@permission.getName()</a>
            </td>
        </tr>
        }
    </table>
</div>

@footer()