@(categories: List[Category])

@header("Category Information")

<div class="container">
    Total Category Number: @categories.size() <br>
    <table class="table table-striped table-bordered">
        <th>Id</th><th>Category Name</th>
        @for(category <- categories) {
        <tr>
            <td>
                @category.getId()
            </td>
            <td>
                <a href="/category/?id=@category.getId()&name=@category.getName()">@category.getName()</a>
            </td>
        </tr>
        }
    </table>
</div>

@footer()


