@(permissions: List[Permission], apps: List[App])

@header("All Permissions")

<div class="container">
    Total App: @apps.size()

    <br><br>
    <table class="table table-striped table-bordered">
        <th>Id</th><th>Permission Name</th><th>Related App #</th><th>Permission Rate #</th>
        @for(permission <- permissions) {
        <tr>
            <td>
                @permission.getId()
            </td>
            <td>
                <a href="/permission/@permission.getId()">@permission.getName()</a>
            </td>
            <td>
                @permission.getAppPermissionMaps().size()
            </td>
            <td>
                @permission.getAppPermissionMaps().size()/@apps.size()
            </td>
        </tr>
        }

    </table>
</div>

@footer()